.aside {
    position: fixed;
    left: 20px;
    top: 30%;
    background: hsl(0deg 0% 100%);
    /* border-right: 1px solid rgba(0, 0, 0, 0.05); */
    padding: 2.5rem;
    width: 110px;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__list {
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
}

.copyright {
    color: hsl(245, 15%, 65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}